body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 300px;
    background-color: #1F2937;
    color: white;
}

.header-top {
    display: flex;
    padding-bottom: 50px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

ul {
    padding: 0 10px;
}

.header-bottom {
    display: flex;
}

.main-img {
    height: 200px;
    width: 400px;
    flex: 1;
}

.title-left {
    flex: 1;
}

h1 {
    margin: 0;
}

.illustrations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.otterpics {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.otter {
    height: 150px;
    width: 150px;
}

.ottertext {
    width: 150px;
    margin: 5px;
    text-align: center;
}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 400px;
}

.quote {
    margin: 0;
}

.quote-attribution {
    margin: 0;
    align-self: flex-end;
}

.footer {
    display: flex;
    padding: 10px 300px;
    justify-content: center;
    align-items: center;
}

.footer-box {
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-text-top {
    margin: 0;
}

.footer-text-bottom {
    margin: 0;
}

.footer-button {

}