body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header, .illustrations, .quotation {
    height: 350px;
}

.footer {
    height: 300px;
}

.header-button, .footer-button {
    color: white;
    background-color:#3882F6;
    padding: 5px 26px;
    border-radius: 10px;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.header-top {
    display: flex;
    padding-bottom: 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

ul {
    padding: 0 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-bottom {
    display: flex;
}

.main-img {
    width: 400px;
}

.title-left {
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.title-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

.header-button {
    border: 0;
}

h1 {
    margin: 0;
}

.illustrations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
}

.otterpics {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.otter {
    height: 150px;
    width: 150px;
}

.ottertext {
    width: 150px;
    margin: 5px;
    text-align: center;
    color: #1F2937;
    font-size: 14px;
}

.quotation {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    align-self: center;
}

.quote {
    margin: 0;
    font-style: italic;
    font-weight:lighter;
    color: #1F2937;
}

.quote-attribution {
    margin: 0;
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
}

.footer {
    display: flex;
    padding: 10px 300px;
    justify-content: center;
    align-items: center;
}

.footer-box {
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    color: white;
    background-color: #3882F6;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-text-top {
    margin: 0;
}

.footer-text-bottom {
    margin: 0;
}

.footer-button {
    border: 2px solid white;
}